<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Checkout</h1>

  <div class="cart-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart1.png" />
        </div>

        <div class="item-info">
          <p>Women t-shirt</p>
          <p>Lotto.LTD</p>
          <p>$34.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="../../assets/cart/cart2.png" />
        </div>

        <div class="item-info">
          <p>Female t-shirt</p>
          <p>Bata</p>
          <p>$44.00</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>1</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="address">
    <ion-item lines="none">
      37/6 A, Moratuwa, Sri Lanka
      <ion-badge slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <hr>

  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>Sub Total</ion-label>
      <ion-label slot="end" class="ion-text-right">$160.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Discount</ion-label>
      <ion-label slot="end" class="ion-text-right">5%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Shipping</ion-label>
      <ion-label slot="end" class="ion-text-right">$10.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right">$162.00</ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/confirm" routerDirection="forward">Buy</ion-button>
  </ion-toolbar>
</ion-footer>