<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">My Orders</h1>

  <div class="order-items">
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart1.png' />
        </div>

        <div class="item-info">
          <p>Women t-shirt</p>
          <p>Lotto.LTD</p>
          <p>$34.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart2.png' />
        </div>

        <div class="item-info">
          <p>Female t-shirt</p>
          <p>Bata</p>
          <p>$44.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart3.png' />
        </div>

        <div class="item-info">
          <p>Shirt</p>
          <p>Next</p>
          <p>$30.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart4.png' />
        </div>

        <div class="item-info">
          <p>Women shirt</p>
          <p>Plus Point</p>
          <p>$54.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart5.png' />
        </div>

        <div class="item-info">
          <p>Shirt</p>
          <p>Cat's Eye</p>
          <p>$50.00</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
