<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Favorite</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-1.png" />
      <p>$34.00</p>
      <h6>Women t-shirt</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-2.png" />
      <p>$24.00</p>
      <h6>Mens t-shirt</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-3.png" />
      <p>$54.00</p>
      <h6>Women t-shirt</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-4.png" />
      <p>$44.00</p>
      <h6>Blezer</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/prod-5.png" />
      <p>$14.00</p>
      <h6>T-shirt</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/prod-6.png" />
      <p>$30.00</p>
      <h6>Shirt</h6>
    </ion-col>
  </ion-row>
</ion-content>
